:root {
    --bg-color: #F0F7EE0;
    --pink-color: #A07178;
    --columbia-blue: #C4D7F2;
    --non-photo-blue: #AFDEDC;
    --dark-blue: #345995;
}

/* Color scheme: non-photo-blue #AFDEDC,
 columbia-blue #C4D7F2 mint cream #F0F7EE
  ylnmn blue #345995, mountbatten pink #A07178
  picked with coolors.co*/

  body {
    background-color:var(--bg-color);
    font-family: sans-serif;
    padding: 25px;
    border: var(--dark-blue);
  }

  header {
    background-color:var(--pink-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    color: #F0F7EE;
  }

  header h1{
    font-size: 30px;
    margin-left: 25px;

  }
  header nav{
    float: right;
    color: var(--bg-color);

  }
  header nav ul{
    padding-top: 10px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bolder;
    flex-direction: row;
    color: var(--bg-color)
    
  }

  header nav ul li {
    list-style-type: none;
    display: inline-block;
    }

  a{
    color:  var(--bg-color);
    text-decoration: none;
  }

  p{
    font-size: 18px;
  }

  main {
    width: 100%;
    color: var(--dark-blue);
    background-color: var(--bg-color);
    display: block;
    
  }

  #about{
    background-color: var(--columbia-blue);
    display: block;
    margin-bottom: 20px;
    padding: 50px;
    width: auto;
    text-align: center;
  }

  /* #about h2{
    display: block;
    padding-right: 30px;
  } */

  #profileimg{
    width: 250px;
    display: inline-block;
  }

  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    display: inline;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
  }
  
  #work {
    display: flex;
    background-color: var(--columbia-blue);
    justify-content: initial;
    margin-bottom: 20px;
    padding: 50px;
    align-items: center;
    

  }

  .card{
    background-color: var(--columbia-blue);
    float: left;
    width: 80%;
    margin: 10px;
    border: 5px; 
    padding: 10px;
  } 

   /* #additionalprojects {
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    justify-items: space-between;
    width: 40%
  }  */

  

  
  #placeholderimg{
    width: 200px;
  }

  #contact {
    display: block;
    background-color: var(--columbia-blue);
    margin-bottom: 20px;
    padding: 50px;
    text-align: center;
  }
  #contact a{
    text-decoration: none;
    color: var(--bg-color);
  }

  footer{
    display: block;
    background-color: var(--pink-color);
    text-align: center;
    color: #F0F7EE;
    padding: 20px;
  } 

 /* Smartphones (portrait and landscape) ----------- */

 @media screen and (max-width: 992px) {

  #work{
    display: flexbox;
    flex-direction: column;
  }
  }
  .card {
    width: 50%;
  }


@media screen and (max-width: 768px) {
 #work{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: ;

 }
  
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 480px ) {

  header {
    flex-direction: column;
  }
  
}

